.react-stacked-center-carousel-slide--1{
  left:calc(50% - 485px)!important;
  opacity: .3 !important;
}

.react-stacked-center-carousel-slide-1{
  left:calc(50% - 265px)!important;
  opacity: .3 !important;
}