.allPlayers-input::placeholder{
    color: rgba(243, 243, 243, 0.6);
    background: transparent;
    font-weight: bold;
}

.allPlayers-input:focus{
    border:1px solid black;
    box-sizing: border-box;
}

.allPlayers-input{
    border:1px solid black;
}

.allPlayers-input{
        background: transparent;

}
:focus-visible {
    outline: transparent auto 0px;
}

.slider-wrapper{
    position: relative;
  width:100%;
  height: auto;
  padding: 50px 0 100px;
}

