.premiere-leagues-title{
  font-style: normal;
  font-weight: bold;
  line-height: 60px;
  color: #F3F3F3;
}
.premiere-leagues hr{
  width:100%;
  height:5px;
  background: linear-gradient(180deg, #FDBC19 0%, #D8750D 100%);
  border-radius: 4px;
}

.top-player-select-button{
  color:#191919;
  font-weight: bold;
  flex-direction: row;
  padding: 8px 16px;
  background: linear-gradient(180deg, #FDBC19 0%, #D8750D 100%);
  box-shadow: 0px 1px 30px rgba(253, 188, 25, 0.4);

}

.fixture {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.live-button{
    padding: 8px 20px 8px 16px;
    background: #FF2E2E;
    box-shadow: 0px 2px 12px rgba(25, 25, 25, 0.3);
    border-radius: 4px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}

.team-name{
    color:#000;
    font-weight:bold;
}