
.App {
  background-color: #191919;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-background{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.subpixel-antialiased {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}
.nav-sidebar-open .wrapper::before {
    opacity: 1;
    visibility: visible;
}
.nav-sidebar-open .wrapper {
    position: fixed;
    animation: roll .5s ease-in-out; 
    transform: translateX(0vw);
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    -webkit-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    -o-transform: translateX(0vw);
}

@keyframes roll {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    z-index: 2;
    transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
}
.wrapper:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    z-index: 400;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner-button{
    box-shadow: 5px 5px #FDBC19;
}
.scroll-down{
    background: #f3f3f3;
    opacity: 0.8;
}

.player-informations{
    padding: 10px;
    background: rgba(71, 71, 71, 0.9);
    box-shadow: 0px 0px 60px rgb(25 25 25 / 60%);
    border-radius: 16px;
    display: block;
    margin-top: -50px;
    margin-left:auto;
    margin-right: auto;
}
